.footer {
    /* position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center; */
    margin-top: auto;
    text-align: center;
    bottom: 0;
}

.contactList {
    text-align: center;
    align-items: center;
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
}