.navBar {
    list-style-type: none;
    display: flex;
    justify-content: right;
}

.navItem {
    display: flex;
    flex-direction: row;
    color: #e9eee8;
    /* flex-wrap: wrap;
    align-items: flex-start; */
    margin-right: 15px;
    margin-left: 15px;
    transition: color 1s;
}

.nav-link {
    color: white;
}

.nav-link:active {
    text-decoration: none;
}

.nav-link:link {
    text-decoration: none;
   
}

.nnav-link:hover {
    cursor: pointer;
    color: #557e7a;
}

