.navBar {
    list-style-type: none;
    display: flex;
    justify-content: right;
}

.navItem {
    display: flex;
    flex-direction: row;
    color: #e9eee8;
    /* flex-wrap: wrap;
    align-items: flex-start; */
    margin-right: 25px;
    margin-left: 25px;
    transition: color 1s;
}

.nav-link {
    color: white;
}

.nav-link:active {
    text-decoration: none;
}

.nav-link:link {
    text-decoration: none;
   
}

.nav-link:hover {
    cursor: pointer;
    color: #557e7a;
}

@media screen and (max-width: 700px) {
    .navItem {
        margin-left: 7px;
        margin-right: 7px;
    }
}