.container {
    flex-direction: row;
    position: flex;
    align-items: flex-start;
    text-align: center;
}

.workheader {
    text-align: center;
}

.card {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.github {
    margin-right: 5px;
    margin-left: 5px;
}

.app {
    margin-right: 5px;
    margin-left: 5px;
}

.technologies {
    margin-top: 20px;
}

.resumeLink {
    transition: color 1s;
    text-decoration: none;
    color: #e9eee8;
}

.resumeLink:hover {
    cursor: pointer;
    color: #557e7a;
}