.container {
    flex-direction: row;
    position: flex;
    align-items: flex-start;
    text-align: center;
}

.workheader {
    text-align: center;
}

.card {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.app {
    margin-right: 5px;
    margin-left: 5px;
}

.technologies {
    margin-top: 20px;
}

.work-container {
    display: flex;
}

.work-card {
    width: 700px;
    /* border: 1px solid white; */
    border-radius: 7px;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 50px;
}    

.card-img-top {
    margin-top: 30px;
    width: 650px;
    height: auto;
    border-radius: 10px;
}

.card-body {
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
}

.github-btn {
    margin-right: 25px;
}

.github-btn:link {
    text-decoration: none;
}

.github-btn:hover {
    color: #557e7a;
}

.app-btn:link {
    text-decoration: none;
}

.app-btn:hover {
    color: #557e7a;
}


@media screen and (max-width: 745px) {
    .work-card {
        width: 450px;
    }

    .card-img-top {
        width: 400px;
    }
}